.Post {
  min-height: 320px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.Post__content p {
  font-size: 19px;
  line-height: 28px;
  margin-bottom: 16px;
}

.Post__content p:last-child {
  margin-bottom: 0px;
}

.Post a {
  color: #0975ef;
  text-decoration: none;
}

.Post a:hover {
  text-decoration: underline;
}

.Post__content img,
.Post__content video {
  width: 100%;
  display: block;
  margin: 8px 0;
}

.Post__info {
  margin-top: 7px;
  font-size: 13px;
  color: #cdcdd0;
  width: 100%;
}

.Post__info a {
  color: inherit;
}

.Post__info__permalink {
  float: right;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .Post {
    -webkit-scroll-snap-coordinate: 0% 0%;
  }
}
